[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyopenbci = "*"
websockets = "*"
pyserial = "*"
numpy = "*"
xmltodict = "*"
websocket-client = "*"
requests = "*"

[dev-packages]
mypy = "*"
types-requests = "*"

[requires]
python_version = "3.9"
