/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.input-box{
    width: 30vw;
    padding: .5rem;
    text-align: center;
    border: 1px solid #ccc;
    height: max-content;
    border-radius: .1rem;
    font-size: 1rem;
   
}
